[buildout]
extensions = 
	mr.developer

show-picked-versions = true

extends = 
	http://dist.plone.org/release/4.3.1/versions.cfg
	versions.cfg

find-links = 
	http://dist.kreativkombinat.de/public

versions = versions
unzip = true

[eggs]
main = 
	kk.cs

addon = 
	Pillow
	plone.app.caching
	plone.app.contenttypes
	plone.app.toolbar
	plone.app.widgets
	Products.PloneFormGen
    collective.plonetruegallery
    Products.ContentWellPortlets
    collective.quickupload
    Products.Carousel

test = 
	kk.cs [test]

devtools = 
	bpython
	plone.reload
	sauna.reload
	Products.PDBDebugMode
	Products.PrintingMailHost
	Products.DocFinderTab

[sources]
kk.cs 		= fs kk.cs

# Additional checkouts
ade25.toolbar 			= git git@github.com:ade25/ade25.toolbar.git
ade25.typekit 			= git git@github.com:ade25/ade25.typekit.git
ade25.fabfiles          = git git@github.com:ade25/ade25.fabfiles.git
plone.app.contenttypes 	= git git@github.com:plone/plone.app.contenttypes.git
sauna.reload 			= git https://github.com/epeli/sauna.reload.git

